.dropdown{
  width: 100%;
  height: 100%;
  position: relative;
}
.controller{
  height: 52px;
  border: 1px solid #E0DEDE;
  border-radius: 6px 6px 6px 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.open{
  border-radius: 6px 6px 0 0;
}
.services{
  position: absolute;
  top: -7px;
  left: 17px;
  font-family: var(--font-roboto-regular);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0;
  text-align: center;
  color: #404040;
  background-color: white;
  z-index: 999;
}
.menu{
  position: absolute;
  border: 1px solid #E0DEDE;
  border-top:none;
  border-radius: 0 0 6px 6px;
  width: 100%;
  height: 280px;
  padding: 0 10px;
  top: 52px;
  background-color: white;
  overflow-y: scroll;
  z-index: 99;
}
.menu::-webkit-scrollbar {
  width: 2px;
}
.menu::-webkit-scrollbar-thumb {
  background-color: #aeadad;
}
.image{
  position: absolute;
  top: 14px;
  right: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}