@import "../../styles/mixins";
.content_header{
  height: 82px;
  background-color: white;
  margin-bottom: 12px;
  @include row-space-between;
  align-items: center;
}
.content_header h2{
  font-family: var(--font-inter);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0;
  text-align: left;
  color: #5AA2DC;
  margin-left: 18px;
  margin-top: 6px;
}
.btn_container{
  margin-right: 16px;
}
