@import "../../../styles/mixins";
.modal{
  height: 100%;
  width: 100%;
  background-color: rgba(198, 198, 198, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  z-index: 9;
  @include flex-center;
}
.modal.active{
  opacity: 1;
  pointer-events: all;
}
.chapter_container, .service_container{
  width: 837px;
  background-color: white;
}
.chapter_container{
  height: 721px;
  padding: 26px 57px 48px 48px;
}
.service_container{
  height: 368px;
  padding: 26px 55px 39px 48px;
}
