.tabs{
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: space-between;
  margin-left: 18px;
}
.tab{
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0;
  text-align: left;
  margin-top: 12px;
  cursor: pointer;
}
.active{
  color: #5AA2DC;
  font-weight: 600;
  border-bottom: 2px solid #5AA2DC;
  padding-bottom: 20px;
  margin-top: 12px;
}