.menu_button{
  border: none;
  display: flex;
  align-items: center;
  width: 90.1%;
  min-height: 60px;
  background: none;
  padding-left: 14px;
}
.menu_button.active{
  width: 90.1%;
  border-radius: 10px;
  background-color: #5AA2DC;
  color: #FFFFFF;
}
.menu_button_text{
  font-family: var(--font-inter);
  font-size: 19px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}
@media (max-width: 1570px) {
  .menu_button_text {
    font-size: 16px;
  }
}