@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin horizontal-center{
  display: flex;
  justify-content: center;
}
@mixin vertical-center{
  display: flex;
  align-items: center;
}