@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin horizontal-center{
  display: flex;
  justify-content: center;
}
@mixin vertical-center{
  display: flex;
  align-items: center;
}
@mixin row-direction{
  display: flex;
  flex-direction: row;
}
@mixin column-direction{
  display: flex;
  flex-direction: column;
}
@mixin row-space-between{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}