@import "../../styles/mixins";
.text {
  font-family: var(--font-bebas);
}
.header{
  width: 100%;
  height: 87px;
  border-top: 1px solid #F1EFEF;
  border-bottom: 1px solid #F1EFEF;
  @include row-space-between;
  align-items: center;
  background-color: white;
}
.datetime{
  @include vertical-center;
}
.header span{
  font-family: var(--font-inter);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  color: #053772;
}
.time{
  margin-left: 32px;
}
.date{
  margin-left: 30px;
}
.admin{
  @include column-direction;
  align-items: center;
  margin-right: 47px;
}
#admin_logo{
  width: 37px;
  height: 37px;
}