@import "../../styles/mixins.scss";
table {
  font-family: var(--font-inter);
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  user-select: none;
  grid-template-columns:
    minmax(425px, 1fr)
    minmax(74px, 1fr)
    minmax(72px, 1fr)
    minmax(348px, 1fr)
    minmax(348px, 1fr)
    minmax(95px, 1fr)
    minmax(123px, 1fr)
    minmax(94px, 1fr)
}
thead,
tbody,
tr {
  display: contents;
}
tbody td{
  @include vertical-center;
  padding: 16px 16px;
  border-bottom: 1px solid #E0DEDE;
}
tr td:nth-child(2),
tr td:nth-child(3),
tr td:nth-child(6),
tr td:nth-child(8){
  @include horizontal-center;
}
th {
  position: relative;
  top: 0;
  font-weight: 400;
  min-height: 48px;
  border-bottom: 1px solid #E0DEDE;
  @include vertical-center;
}
th:last-child {
  border-right: none;
}
.resize_handle {
  position: absolute;
  top: 10px;
  right: 0;
  bottom: 0;
  background: #404040;
  height: 26px;
  width: 2px;
  cursor: col-resize;
}
.resize_handle:hover{
  background-color: #5AA2DC;
}
.name{
  padding-left: 44px;
  min-height: 48px;
}
.chapter, .services{
  padding:0 12px;
}
.table_item{
  @include horizontal-center;
}
.name_be, .name_en{
  padding-left: 16px;
}
.letter_container, .start_end{
  padding: 0 12px;
}
.active_state{
  padding: 0 12px
}

.letter{
  padding: 0 12px;
}

.workplace{
  padding-left: 44px;
}
.type{
  padding: 0 24px;
}
.number{
  padding-left: 12px;
  padding-right: 13px;
}
.employees{
  padding-left: 16px;
}
.ip{
  padding-left: 27px;
  padding-right: 28px;
}
.active_2{
  padding-left: 11px;
  padding-right: 13px;
}
