@import "./styles/fonts.scss";
:root{
    --font-bebas: 'Bebas', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --font-roboto-bold: 'Roboto-Bold', sans-serif;
    --font-roboto-regular: 'Roboto-Regular', sans-serif;
}