@import "../../styles/mixins.scss";
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}
table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns:
    minmax(425px, 1fr)
    minmax(74px, 1fr)
    minmax(72px, 1fr)
    minmax(348px, 1fr)
    minmax(348px, 1fr)
    minmax(95px, 1fr)
    minmax(123px, 1fr)
    minmax(94px, 1fr)
}
thead,
tbody,
tr {
  display: contents;
}
th,
td {
  padding: 15px;
  //overflow: hidden;
  //text-overflow: ellipsis;
  //white-space: nowrap;
}
th {
  position: sticky;
  top: 0;
  text-align: left;
  font-weight: normal;
  font-size: 1.1rem;
}
th:last-child {
  border: 0;
}
.resize_handle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: black;
  width: 3px;
  cursor: col-resize;
}
.main_container{
  width: 1582px;
  height: 858px;
  background-color: white;
  margin-top: 23px;
  margin-left: 27px;
}

//.table_header{
//  resize: horizontal;
//  overflow: hidden;
//}
.table_header{
  @include vertical-center;
  height: 26px;
  margin-top: 11px;
  margin-bottom: 11px;
  font-family: var(--font-inter);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  border-right: 1px solid #404040;
}
.name{
  padding-left: 44px;
}
.chapter{
  display: flex;
  justify-content: center;
}
.services, .table_item{
  @include horizontal-center;
}
.name_be, .name_en{
  padding-left: 16px;
}
.letter, .start_end, .active_state{
  @include flex-center;
  text-align: center;
}


.main_container_footer{
  width: 1582px;
  height: 61px;
  border-top: 1px solid #E0DEDE;
  font-family: var(--font-inter);
  position: fixed;
  bottom: 0;
  padding-right: 235px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.left_arr{
  margin-left: 15px;
}
.right_arr{
  margin-left: 6px;
}
